@model LojaNinja.Dominio.Pedido
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.titulo = "Detalhes";
}

    <div>
        <div>
            <h3>Pedido</h3>
            <div>
                @if (@Model.PedidoUrgente)
                {
                    <span class="glyphicon glyphicon-flash fa-2x" aria-hidden="true">Urgente!</span>
                }
            </div>
            <div>
                @Model.DataPedido.ToString("dd/MM/yyyy hh:mm")
            </div>
            <div>
                @Model.NomeProduto
            </div>
            <div>
                @string.Format("{0:c}", Model.Valor)
            </div>
            <div>
                @Model.TipoDePagamento
            </div>
            <div>
                @Model.NomeCliente
            </div>
            <div>
                @Model.DataEntrega.ToString("dd/MM/yyyy hh:mm")
            </div>
            <div>
                @Model.Cidade
            </div>
            <div>
                @Model.Estado
            </div>
        </div>
    </div>