
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="~/Content/Custom/principal.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>

<body>
    @Html.Action("Menu", "Menu")
    @RenderBody()
    @RenderSection("scripts", false)
    @if (!string.IsNullOrEmpty(ViewBag.ErroIDPedido))
    {
        <script type="text/javascript">
            alert("@ViewBag.ErroIDPedido");
        </script>
    }
</body>

</html>

@*http://localhost:63267/Pedido/Cadastro#Camelao*@

@*<script>
        $(document)
            .ajaxSend(function () {
                $('#spinner').show();
            })
            .ajaxComplete(function () {
                $('#spinner').hide();
            })
            .ajaxError(function () {
                console.log('Tratador de erros genérico.', arguments);
            });

        $.ajaxSetup({
            timeout: 2000
        });

    </script>*@
