@model LojaNinja.MVC.Models.LoginModel


@{
    ViewBag.Title = "CadastroUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container container-corpo container-cadastro">
    <h4>Login</h4>
    @using (Html.BeginForm("Login", "Usuario", FormMethod.Post, new { @class = "form" }))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.ValidationSummary(excludePropertyErrors: false)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email) <br />
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Senha) <br />
            @Html.PasswordFor(m => m.Senha)
        </div>
        <div class="form-group">
            <input type="submit" value="Entrar" />
        </div>
        <div>
            <p>Não possui Cadastro? <a href="@Url.Action("Cadastro", "Usuario", "")">Registre-se</a></P>
        </div>

    }
